@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700&display=swap');

body {
  background-color: #FDFCDC;
  font-family: 'Recursive', sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  display: flex-block;
  padding: 10px;
}
